.FeedbackBox {
    width: 100%;
    background-color: red;
}

.Emoji {
    margin-right:5px;
    color: red;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    background-color: blue;
}

.ButtonSpace {
    justify-content: center;
    width: 100vw;
    display: flex;
    background-color: green;
}